
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>MainProfile</id>
			<properties>
				<mvnRepo>http://archiva.progbits.com/repository/internal/</mvnRepo>
			</properties>
			<repositories>
				<repository>
					<id>archiva.internal</id>
					<url>http://archiva.progbits.com/repository/internal/</url>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<servers>
	</servers>

	<activeProfiles>
		<activeProfile>MainProfile</activeProfile>
	</activeProfiles>
</settings>
